* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

header > .container {
    justify-content: space-between;
    align-items: center;
    padding-bottom: 16px;
}
header {
    background-color: #192a56;
    padding-top: 16px;
    color: #fff;
}

nav {
    background-color: #575fcf;
    padding: 16px 0;
    display: none;
}

nav li{
    list-style: none;
    display: inline;
    margin-right: 16px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}

nav li a{
    color: #fff;
    text-decoration: none;
}

.menu-hamburguer {
    width: 32px;
    cursor: pointer;
}

.menu-hamburguer span {
    display: block;
    margin-bottom: 4px;
    height: 2px;
    width: 100%;
    background-color: white;
}

.container-flex {
    display: flex;
}

#sobre-a-loja img{
    width: 800px;
    margin-right: 24px;
}

section {
    padding: 48px 0;
}

section h2 {
    margin-bottom: 16px;
}
.lista-veiculos {
    flex-wrap: wrap;
    gap: 20px;
}
.lista-veiculos li {
    list-style: none;
    max-width: 30%;
}
.lista-veiculos li img {
    max-width: 100%;
}
.lista-veiculos li h3 {
    margin: 16px 0;
}