* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
html {
    overflow-x: hidden;
}
.container {  /*AQUI NO CONTAINER, JÁ DEFINE A LARGURA MÁXIMA DE QUEM TÁ USANDO A CLASSE E USA TODO O TAMANHO DA LARGURA*/
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

header > .container,
footer > .container {
    justify-content: space-between;
    align-items: center;
    padding-bottom: 16px;
}
header, footer {
    background-color: #192a56;
    padding-top: 16px;
    color: #fff;
} 
header {
    position: sticky;
    top: 0;
    z-index: 1;
    left: 0;
    right: 0;
}

nav {
    background-color: #575fcf;
    padding: 16px 0;
    display: none;
}
nav li{
    list-style: none;
    display: inline;
    margin-right: 16px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}
nav li a{
    color: #fff;
    text-decoration: none;
}
.menu-hamburguer {
    width: 32px;
    cursor: pointer;
}
.menu-hamburguer span {
    display: block;
    margin-bottom: 4px;
    height: 2px;
    width: 100%;
    background-color: white;
}
.container-flex {
    display: flex;
}
#sobre-a-loja img{
    width: 800px;
    margin-right: 24px;
}
#sobre-a-loja p {
    margin-bottom: 16px;
}
section {
    padding: 48px 0;
}

section h2 {
    margin-bottom: 16px;
}
.lista-veiculos {
    flex-wrap: wrap;
    gap: 20px;
}
.lista-veiculos li {
    max-width: 30%;
    list-style-type: none;
}
.lista-veiculos li img {
    max-width: 100%;
}
.lista-veiculos li h3 {
    margin: 16px 0;
}
button {
    display: block;
    width: 100%;
    padding: 8px 0;
    border: none;
    background-color: #119759;
    color: white;
    font-size: 16px;
    font-weight: bold;
    font-style: italic;
    cursor: pointer;
    border-radius: 5px;
}
.price {
    margin: 16px 0;
    display: block;
}
.price del {
    color: #ccc;
    font-size: 14px;
}
.form-campo {
    margin-bottom: 16px;
}
.form-campo label {
    font-weight: bold;
    display: block;
}
.form-campo input, .form-campo textarea {
    width: 100%;
    display: block;
    padding: 8px;
}
.form-campo textarea{
    resize: none;
    height: 120px;
}
form {
    max-width: 360px;
}
form input {
    outline: none;
}
form button {
    max-width: 120px;
}
footer li {
    margin-left: 16px;
    list-style-type: none;
}
footer li img {
    height: 32px;
}

